/*==========DOC WIDE============*/
html {
    color: #222;
    font-size: 1em;
}

.container-fluid {
	padding: 5px;
	overflow: hidden;
}

/*===========TOP RIBBON=============*/

.top-banner-container {

}

.logo {
	float: left;
	vertical-align: middle;

}

.title-banner {
	float: left;
	width: 45%;
	overflow: hidden;
	
}

.top-nav {
	overflow: hidden;
	float: right;
}

/*=============TOP STORY==============*/

.top-story-box {
	overflow: hidden;
	border: thin;
	clear: float;

}



