html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.container {
	padding: 5px;
}

.logo {
	float: left;
}

.title-banner {
	overflow: hidden;
	float: left;
}

.top-nav {
	overflow: hidden;
	float: right;
}

